*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'BrushType';
    src: url('../fonts/title/BrushType\ Bold.woff2') format('woff2'),
         url('../fonts/title/BrushType\ Bold.woff') format('woff'),
         url('../fonts/title/BrushType\ Bold.ttf')  format('truetype');
}
@font-face {
    font-family: 'Finland';
    src: url('../fonts/indian/Finland-Regular.woff2') format('woff2'),
        url('../fonts/indian/Finland-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


img{
    max-width: 100%;
    height: auto;
    display: block;
}
a{
    text-decoration: none;
    font-family: "Finland";
    font-size: 25px;
    color: black;
}
h1,h2,h3,h4,h5{
    margin: 0;
}
h1{
    font-family: "BrushType";
    font-size: 120px;
    line-height: 100px; 
}
h2{
    font-family: "BrushType";
    font-size: 40px;
}
h3{
    font-family: "BrushType";
    font-size: 25px;
}
h4{
    font-family: "Finland";
    font-size: 18px;
}
h5{

}
p{
    line-height: 25px;
    margin: 25px auto;
    font-family: "Finland";
    font-size: 25px;
}
span{
    display: block;
    font-family:"Finland";
    font-size: 38px;
    margin-bottom: 25px;
}
.main-content{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.btn{
    display: block;
    width: 40%;
    height: 40px;
    padding: 4px;
    background-color: darkred;
    text-align: center;
    color: white;
    transition: all 0.2s;
}
.btn:hover{
    transition: all 0.2s;
    background-color: rgb(192, 18, 18);
    box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.51) inset;
}
.header-pintado{
    background-color: darkred;
    transition: all 0.5s;
}

/* title */
.title{
    text-align: center;
}
.title>span{
    margin: 10px 0;
    font-family: "Finland";
    font-size: 28px;
}
.title>h2{
    margin-bottom: 10px;
}
.title.left{
    text-align: left;
}
.title.rigth{
    text-align: right;
}
.main-description,
.main-history,
.main-events,
.main-carta,
.main-reservation{
    padding: 100px 0;
}
.main-history{
    padding-bottom: 50px;
}
.main-events{
    padding-top: 50px;
}
/**********************************************************/
/**********************  HEADER ***************************/
header{
    position: fixed;
    width: 100%;
    z-index: 10000;  
}
.main-header{
    transition: all 0.5s;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.nav a{
    display: block;
    transition: all 0.5s;
    color: white;
}
/* logo */
.header .logo{
    width: 100px;
    transition: all 0.5s;
}
.header .logo.logo-scroll{
    width: 80px;
    transition: all 0.5s;
}
/**********************************************************/
/**********************  SLIDER  **************************/

.main-hero-banner{
    width: 100%;
    position: relative;
    height: 100vh;
}
.slider{
    padding: 0 7.4%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 100vh;
    width: 100%;
    opacity:0;
    visibility: hidden;
    transition: all 0.8s ease-in-out; 
}

.content-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: inherit;
}
.content-img{
    width: 50%;
    background-color: turquoise;
}
.content-img img{
    height: 100vh;
    width: 100%;
    object-position: center center;
    object-fit: cover;
}
/* btn - hero - banner*/
.hero-banner{
    height: 100vh;
}
.btn-hero-banner{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 3%;
}
.btn-hero-banner a{
    width: 60px;
    display: block;
    padding: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 1px 33px -19px rgba(0,0,0,0.75) inset;
    transition: all 0.3s;
}
.btn-hero-banner a:hover{
    background-color: black;
    transition: all 0.3s;
    color: white;
}
/* circle-hero-banner */
.circle-hero-banner{
    position: absolute;
    bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-hero-banner :not(:last-child){
    margin-right: 10px;
}
.rect{
    width: 40px;
    height: 5px;
    background-color: black;
}
.circle{
    border-radius: 50%;
    background-color: black;
    width: 15px;
    height: 15px;
    transition: all 0.8s ease-in-out;
}
.circle-is-active{
    background-color: rgb(185, 10, 10);
    transition: all 0.8s ease-in-out;
    box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.84);
    transform: scale(1.2);
    
}
.slider-is-active{
    opacity:1;
    visibility: visible;
    transition: all 0.8s ease-in-out;
}
/**********************************************************/
/********************  DESCRIPTION  ***********************/
.description{
    text-align: center;
}
.description>p{
    width: 50%;
}
.card-global-description{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
}
.card-description{
    max-width: 300px;
    width: 25%;
    height: 270px;
    padding: 30px;
}
.card-description>p{
    margin: 0;
    padding: 10px 0;
    font-size: 22px;
}
.card-logo{
    width: 180px;
    margin: 0 auto;
}
.card-logo>img{
    margin-bottom: 15px;
}


/**********************************************************/
/************************  HISTORY  ***********************/
.main-history{
    background-image: url(../IMG/BACKGROUND/philipp-deus-uO95dylxdUM-unsplash.jpg);
    background-position: center center;
    background-size: cover;
}
.history{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    
}
.content-history{
    max-width: 1100px;
    width: 90%;
    height: 320px;
    background-color: white;
    display: flex;
    overflow: hidden;
    box-shadow: -1px 5px 13px -1px rgba(0,0,0,0.68);
}
.content-history-text{
    padding: 20px 30px;
    width: 600px;
}
.content-history-img{
    overflow: hidden;
}
.content-history-img img{
    object-fit: cover;
    object-position: center center;
    height: 350px;
    transition: all 0.3s;
}
.content-history-img img:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}

/**********************************************************/
/************************  EVENTS  ***********************/
.main-events{
    background-image: url(../IMG/BACKGROUND/philipp-deus-uO95dylxdUM-unsplash2.jpg);
    background-position: center center;
    background-size: cover;
}
.events{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.content-events{
    max-width: 1100px;
    width: 90%;
    background-color: white;
    display: flex;
    height: 320px;
    overflow: hidden;
    box-shadow: -1px 5px 13px -1px rgba(0,0,0,0.68);
}
.content-events-text{
    padding: 20px 40px;
    text-align: right;
}
.content-events-text>a{
    margin-left: auto;
}
.content-events-img{
    overflow: hidden;
    width: 90%;
}
.content-events-img img{
    object-fit: cover;
    object-position: center center;
    height: 350px;
    width: 100%;
    transition: all 0.3s;
}
.content-events-img img:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}
/**********************************************************/
/*************************  TABS  *************************/
.tabs-global{
    max-width: 1000px;
    width: 100%;
    margin: 40px auto;
}
.tabs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.tabs a{
    background-color: rgba(238, 232, 232, 0.6);
    display: block;
    text-align: center;
    width: 200px;
    padding: 5px;
    box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.64);
}
.tabs-contentS{
    width: 100%;
    height: 400px;
    background-color: lawngreen;
    position: relative;
}
/**********************************************************/
/******************  MAIN-RESERVATION  ********************/
.main-reservation{
    text-align: center;
    background-image: url(../IMG/RESERVATIONS/RESERVATION.jpg);
    background-position: center center;
    background-size: cover;
    color: white;
}
.reservation-p{
    max-width: 600px;
    width: 100%;
}
.btn.btn-reservation{
    background-color: transparent;
    border: 1px solid white;
    width: 200px;  
    color: white; 
    margin: 0 auto; 
}
/**********************************************************/
/***********************  FOOTER  *************************/
footer{
    background-color: black;
}
.footer-redes{
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-redes>a{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: darkred;
    color: white; 
    position: relative; 
}
.footer-redes>a>i{
    position: absolute;
    left: 30%;
    top: 25%;
}
.footer-redes>a:not(:last-child){
    margin-right: 15px;
}
.footer{
    text-align: center;
    background-color: rgb(158, 154, 154);
    color: white;
    padding: 10px 0;
}
.footer .span-footer{
    font-size: 20px;
    margin-bottom: 0;
}

/*******************
    LADING PAGE
*******************/
.contenedor{
    width: 100%;
    height: 400px;
    background-color: #2c2928;
    position: absolute;
    z-index: 10001;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center; 
    opacity: 1;
    top: 0;
}
.carga{
    width: 70px;
    height: 70px;
    border: 10px solid #b63d32;
    border-top-color: chocolate;
    border-top-style: groove;
    border-radius: 50%;
    animation: girar 2s infinite linear;
}
.cerrar{
    transition: all 0.5;
    opacity: 0;
}

@keyframes girar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/******************************************/