*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'BrushType';
    src: url('../fonts/title/BrushType\ Bold.woff2') format('woff2'),
         url('../fonts/title/BrushType\ Bold.woff') format('woff'),
         url('../fonts/title/BrushType\ Bold.ttf')  format('truetype');
}
@font-face {
    font-family: 'Finland';
    src: url('../fonts/indian/Finland-Regular.woff2') format('woff2'),
        url('../fonts/indian/Finland-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


img{
    max-width: 100%;
    height: auto;
    display: block;
}
a{
    text-decoration: none;
    font-family: "Finland";
    font-size: 25px;
    color: black;
}
h1,h2,h3,h4,h5{
    margin: 0;
}
h1{
    font-family: "BrushType";
    font-size: 120px;
    line-height: 100px;
    
}
h2{
    font-family: "BrushType";
    font-size: 40px;
}
h3{
    font-family: "BrushType";
    font-size: 25px;
}
h4{
    font-family: "Finland";
    font-size: 18px;
}
h5{

}
p{
    line-height: 25px;
    margin: 25px auto;
    font-family: "Finland";
    font-size: 25px;
}
span{
    display: block;
    font-family:"Finland";
    font-size: 38px;
    margin-bottom: 25px;
}
.main-content{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.btn{
    display: block;
    width: 40%;
    height: 40px;
    padding: 4px;
    background-color: darkred;
    text-align: center;
    color: white;
    
}




/* title */
.title{
    text-align: center;
}
.title>span{
    margin: 10px 0;
    font-family: "Finland";
    font-size: 28px;
}
.title>h2{
    margin-bottom: 10px;
}
.title.left{
    text-align: left;
}
.title.rigth{
    text-align: right;
}
.main-description,
.main-history,
.main-events,
.main-carta,
.main-reservation{
    padding: 100px 0;
}
/**********************************************************/
/**********************  HEADER ***************************/
header{
    position: fixed;
    width: 100%;
    z-index: 10000;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.nav a{
    display: block;
}
/* logo */
.header img{
    width: 100px;
}
/**********************************************************/
/**********************  SLIDER  **************************/
.main-hero-banner{
    width: 100%;
    position: relative;
}
.slider{
    display: flex;
    height: 100vh;
}
.content-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: inherit;
}
.content-img{
    width: 50%;
    background-color: turquoise;
}
/* btn - hero - banner*/
.hero-banner{
    height: 100vh;
}
.btn-hero-banner{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 3%;

}
.btn-hero-banner a{
    width: 60px;
    display: block;
    padding: 20px;
    text-align: center;
    background-color: white;
    border: 1px solid;
}
/* circle-hero-banner */
.circle-hero-banner{
    position: absolute;
    bottom: 3%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-hero-banner :not(:last-child){
    margin-right: 10px;
}
.rect{
    width: 40px;
    height: 5px;
    background-color: yellow;
}
.circle{
    border-radius: 50%;
    background-color: yellow;
    width: 15px;
    height: 15px;
}
/**********************************************************/
/********************  DESCRIPTION  ***********************/
.description{
    text-align: center;
}
.description>p{
    width: 50%;
}
.card-global-description{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
}
.card-description{
    max-width: 300px;
    width: 25%;
    height: 270px;
    padding: 30px;
}
.card-description>p{
    margin: 0;
    padding: 10px 0;
    font-size: 22px;
}
.card-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}


/**********************************************************/
/************************  HISTORY  ***********************/
.main-history{
    background-color: black;
}
.history{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.content-history{
    max-width: 1100px;
    width: 90%;
    background-color: white;
}
.content-history-text{
    width: 50%;
    padding: 30px;
}
/**********************************************************/
/************************  EVENTS  ***********************/
.main-events{
    background-color: black;
}
.events{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.content-events{
    max-width: 1100px;
    width: 90%;
    background-color: white;
    display: flex;
}
.content-events-img{
    width: 50%;
}
.content-events-text{
    
    padding: 30px;
    text-align: right;
}
.content-events-text a{
    margin-left: auto;
}
/**********************************************************/
/*************************  TABS  *************************/
.tabs-global{
    max-width: 1000px;
    width: 100%;
    margin: 40px auto;
}
.tabs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.tabs a{
    background-color: rgba(238, 232, 232, 0.6);
    display: block;
    text-align: center;
    width: 200px;
    padding: 5px;
    box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.64);
}
.tabs-content{
    width: 100%;
    height: 400px;
    background-color: blue;
}
/**********************************************************/
/******************  MAIN-RESERVATION  ********************/
.main-reservation{
    text-align: center;
    background-image: url(../IMG/RESERVATIONS/RESERVATION.jpg);
    background-position: center center;
    background-size: cover;
    color: white;
}
.reservation-p{
    max-width: 600px;
    width: 100%;
}
.btn.btn-reservation{
    background-color: transparent;
    border: 1px solid black;
    width: 200px;  
    color: black; 
    margin: 0 auto; 
}
/**********************************************************/
/***********************  FOOTER  *************************/
footer{
    background-color: black;
}
.footer-redes{
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-redes>a{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: darkred;
    color: white; 
    position: relative; 
}
.footer-redes>a>i{
    position: absolute;
    left: 30%;
    top: 25%;
}
.footer-redes>a:not(:last-child){
    margin-right: 15px;
}
.footer{
    text-align: center;
    background-color: darkred;
    color: white;
    padding: 10px 0;
}
.footer .span-footer{
    font-size: 20px;
    margin-bottom: 0;
}